body {
    background-position: center;
}

#content {
    margin: auto 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
}



@media screen and (min-width:760px) {
    label[for=hamburger-status] {
        display: none;
    }

    .nav-main ul {
        display: flex;
        font-family: 'Courier New', Courier, monospace;
    }

    .nav-mobile {
        display: none !important;
    }
}