@import url('./root-variabel.css');

*{
    box-sizing: border-box;
}

body *:not(.backdrop){
    z-index: 50;
}

body{
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/Prambanan-welcome-pict-3\ \(Custom\).png');
    background-position: bottom 0px right -190px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
}

nav ul{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav ul li{
    min-width: fit-content;
    flex-basis: content;
    flex-grow: 1;
    text-align: center;
}

.nav-main{
    display: flex;
    align-items: center;
    padding: 7px 30px;
}

.nav-mobile{
    background-color: rgba(0, 0, 0, 0.335);
    color: white;
    padding: 3px 10px;
    opacity: 0;
    z-index: 40;
    visibility: hidden;
}

.nav-mobile.show{
    animation: fadeToBottom .5s ease 0s 1 normal forwards;
    -webkit-animation: fadeToBottom .5s ease 0s 1 normal forwards;
    visibility: visible;
}

.nav-mobile.hidden{
    animation: fadeOutToUp .5s ease 0s 1 normal forwards ;
    -webkit-animation: fadeOutToUp .5s ease 0s 1 normal forwards ;
}

@keyframes fadeToBottom {
	0% {
		opacity: 0;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
}

	100% {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
}
}

@keyframes fadeOutToUp {
	0% {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
}

	100% {
		opacity: 0;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
}
}


.nav-mobile ul li{
    display: flex;
}

.nav-mobile ul li:not(:last-of-type)::after{
    content: '|';
    color: rgba(0, 0, 0, 0.662);
    margin-left: auto;
}

.nav-main #logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-right: auto;
}

.nav-main ul{
    margin: 0;
    padding: 0;
    column-gap: 20px;
    width: auto;
    align-items: center;
    display: none;
}

nav li{
    list-style: none;
}

nav li:hover{
    opacity: .6;
}

nav a{
    text-decoration: none;
    color: inherit;
}

.hamburger{
    display: block;
    width: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.hamburger-line{
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main{
    flex-grow: 1;
    z-index: 50;
    margin: var(---padding-margin-page-simetris);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.hidden{
    animation: fadeOut .5s ease 0s 1 normal forwards;
    -webkit-animation: fadeOut .5s ease 0s 1 normal forwards;
}
article.show{
    animation: fadeIn .5s ease 0s 1 normal forwards;
    -webkit-animation: fadeIn .5s ease 0s 1 normal forwards;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

article [class*=card]{
    background-color: rgba(255, 255, 255, 0.73);
    box-shadow: 0px 4px 10px 1px black;
    padding: 5px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.intro-player{
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.715);
    margin: 10px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer{
    display: flex;
    justify-content: center;
}